@import url('https://fonts.googleapis.com/css2? family = Lexend + Deca & display = swap');

/* INIT RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: #F3F5F7;
}

input,
button,
textarea,
select {
  font-family: var(--lexendDeca);
}


:root {
  --blue: #3EA1DB;
  --blue-dark: #574AE8;
  --white: #FFF;

  --title: #313131;
  --text: #B6B6B6;

  --linear: (90deg, #574AE8 0%, #3EA1DB 100%);

  --lexendDeca: 'Lexend Deca', sans-serif;

}


/* HEADER */


header {
  background-image: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
  padding: 25px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
  color: #FFF;
  margin-bottom: 30px;
  font-family: var(--lexendDeca);
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  cursor: pointer;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav input {
  background: url(img/Vector.png) no-repeat left center;
  background-size: 16px;
  background-position:10px;
  background-color: #FFFFFF33;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  opacity: 0.8;
}

nav img {
  position: relative;
  left: 30px;
  width: 16px;
  height: 16px;
}

input::placeholder {
  color: var(--text);
  padding-left: 30px;
  font-size: 0.875rem;
}

input:focus {
  outline-width: 0
}

.box {
  background-color: #FFF;
  margin-bottom: 30px;
  padding: 15px;
  height: auto;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10 0 #13131f 5%;
  font-family: var(--lexendDeca);
}

.info1 {
  margin-top: 60px;
}

.informacoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.informacoes p {
  color: #717171;
  font-size: 0.875rem;
}

.informacoes img {
  width: 18px;
  height: 16px;
  margin-right: 5px;
}

.box .title {
  font-family: var(--lexendDeca);
  font-size: 1.125rem;
  margin-bottom: 10px;
}

.box p {
  color: #717171;
  line-height: 1.5;
  font-size: 0.875rem;
}

footer {
  background: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
  padding: 10px;
  color: #FFF;
  font-family: var(--lexendDeca);
  text-align: center;
}

@media  screen and (max-width:600px) {

  body {
    width: 100%;
    height: 100%;
  }

  header {
    width: 100%;
  }

  .info1 {
    margin-top: 30px;
  }

  .box {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
  }

}

